body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

/* ********** NAVBAR ************** */

.navbar {
  height: 100px;
  background-color: black;
  display: flex;
}

.navbar-title {
  font-size: 2em;
  color: white;
}

.navbar-title:hover {
  color: white;
  text-decoration: none;
}

.navbar ul {
  display: flex;
}

.navbar li {
  color: white;
  padding: 0 1.5em;
}

.nav-item {
  color: white;
}

.nav-item:hover {
  color: white;
  text-decoration: none;
}

.active-nav {
  color: teal;
}

/* ********** LANDING ************** */
.landing-container {
  display: flex;
  flex-direction: column;
}

/* ********** CAROUSEL ************** */
.carousel-container {
  width: 100%;
  height: 50vh;
  background-color: grey;
}

/* ********** PROFILE ************** */
.profile-container {
  display: flex;
}